{{ template "widget-base.html" . }}

{{ define "widget-content" }}
{{ if not (and .ShowFailingOnly (not .HasFailing)) }}
<ul class="dynamic-columns list-gap-24 list-with-separator">
    {{ if .ShowInternetStatus }}
    <li class="monitor-site flex items-center gap-15">
        {{ template "internet-status" . }}
    </li>
    {{ end }}
    {{ range .Sites }}
    {{ if and $.ShowFailingOnly (eq .StatusStyle "ok" ) }} {{ continue }} {{ end }}
    <li class="monitor-site flex items-center gap-15">
        {{ template "site" . }}
    </li>
    {{ end }}
</ul>
{{ else }}
<div class="flex items-center justify-center gap-10 padding-block-5">
    <p>All sites are online</p>
    <svg class="shrink-0" style="width: 1.7rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="var(--color-positive)">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
    </svg>
</div>
{{ end }}
{{ end }}

{{ define "site" }}
{{ if .Icon.URL }}
<img class="monitor-site-icon{{ if .Icon.AutoInvert }} flat-icon{{ end }}" src="{{ .Icon.URL }}" alt="" loading="lazy">
{{ end }}
<div class="grow min-width-0">
    <a class="size-h3 color-highlight text-truncate block" href="{{ .URL | safeURL }}" {{ if not .SameTab }}target="_blank"{{ end }} rel="noreferrer">{{ .Title }}</a>
    <div class="flex items-center gap-7">
        <ul class="list-horizontal-text">
            {{ if eq .StatusStyle "unknown" }}
            <li class="color-subdue">{{ .StatusText }}</li>
            {{ else if not .Status.Error }}
            <li title="Status Code {{ .Status.Code }}">{{ .StatusText }}</li>
            <li>{{ .Status.ResponseTime.Milliseconds | formatNumber }}ms</li>
            {{ else if .Status.TimedOut }}
            <li class="color-negative">{{ .StatusText }}</li>
            {{ else }}
            <li class="color-negative" title="{{ .Status.Error }}">{{ .StatusText }}</li>
            {{ end }}
        </ul>
        {{ if .History }}
        <div class="monitor-uptime-dots" title="Last {{ len .History }} checks" aria-hidden="true">
            {{ range .History }}<span class="monitor-uptime-dot{{ if eq . 1 }} monitor-uptime-dot-ok{{ else if eq . 2 }} monitor-uptime-dot-fail{{ else }} monitor-uptime-dot-unknown{{ end }}"></span>{{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ if eq .StatusStyle "ok" }}
<div class="monitor-site-status-icon">
    <svg fill="var(--color-positive)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
    </svg>
</div>
{{ else if eq .StatusStyle "unknown" }}
<div class="monitor-site-status-icon">
    <svg fill="var(--color-text-base)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0ZM8.94 6.94a.75.75 0 1 1-1.061-1.061 3 3 0 1 1 2.871 5.026v.345a.75.75 0 0 1-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 1 0 8.94 6.94ZM10 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
    </svg>
</div>
{{ else }}
<div class="monitor-site-status-icon">
    <svg fill="var(--color-negative)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
    </svg>
</div>
{{ end }}
{{ end }}

{{ define "internet-status" }}
<svg class="monitor-site-icon" style="width: 2rem; height: 2rem;" fill="{{ if .InternetAvailable }}var(--color-positive){{ else }}var(--color-negative){{ end }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <path d="M1 8.25a1.25 1.25 0 1 1 2.5 0v7.5a1.25 1.25 0 1 1-2.5 0v-7.5ZM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0 1 14 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 0 1-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 0 1-1.341-.317l-2.734-1.366A3 3 0 0 0 6.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 0 1 2.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388Z" />
</svg>
<div class="grow min-width-0">
    <span class="size-h3 block">Internet Connection</span>
    <div class="flex items-center gap-7">
        <ul class="list-horizontal-text">
            {{ if .InternetAvailable }}
            <li>Connected</li>
            {{ else }}
            <li class="color-negative">Disconnected</li>
            {{ end }}
        </ul>
    </div>
</div>
{{ if .InternetAvailable }}
<div class="monitor-site-status-icon">
    <svg fill="var(--color-positive)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
    </svg>
</div>
{{ else }}
<div class="monitor-site-status-icon">
    <svg fill="var(--color-negative)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
    </svg>
</div>
{{ end }}
{{ end }}
